# Ignore directories

All labs/
Answers/
DATA/
Notes/
.ipynb_checkpoints/
Module_1/
Module_2/
Module_4/
Module_3/
Module_5/
Module_6/
Module_7/
Module_8/
Module_9/
mydatabase.db/
SQL.ipynb/
Test.txt/
test_db.sqlite/
MiniProject_1_LinearRegression/
MiniProject_2_ClassificationModelling/






